@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'National Park';
    src: url('/fonts/woff2/NationalPark-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@import './tailwind/index.css';
@import './components/index.css';
@import './template/index.css';
@import './others/index.css';
@import './vendors/index.css';

